@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: Brankovic;
  src: url("/fonts/brankovic.ttf");
}
@font-face {
  font-family: Comic;
  src: url("/fonts/LDFComicSans.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Comic;
  src: url("/fonts/LDFComicSansBold.ttf");
  font-weight: 700;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-body;
  }
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1500px];
  }
  .steps .splide__arrow {
    @apply bg-[#110F2D] w-[50px] sm:w-[70px] h-[50px] sm:h-[70px] opacity-100;
  }
  .steps .splide__arrow--prev {
    @apply sm:top-1/2 top-[30%];
  }
  .steps .splide__arrow--next {
    @apply sm:top-1/2 top-[30%];
  }
  .steps .splide__arrow svg {
    @apply fill-white text-xl sm:text-2xl;
  }
  html {
    @apply scroll-smooth scroll-pt-[100px];
  }
}
