@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: Brankovic;
  src: url("/fonts/brankovic.ttf");
}
@font-face {
  font-family: Comic;
  src: url("/fonts/LDFComicSans.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Comic;
  src: url("/fonts/LDFComicSansBold.ttf");
  font-weight: 700;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-body;
  }
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  .contain {
    @apply flex w-[90%] max-w-[1500px];
  }
}
